--
-- PostgreSQL database dump
--

\restrict ecyvPemNJcFkpxnqBcbSMPCBelq2PxrE0x7AjVhM2ccW5urH976QJ9GiQi6A7ML

-- Dumped from database version 16.12 (Debian 16.12-1.pgdg13+1)
-- Dumped by pg_dump version 16.12 (Debian 16.12-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AdminLogs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AdminLogs" (
    "Id" uuid NOT NULL,
    "AdminId" uuid NOT NULL,
    "Acao" text NOT NULL,
    "Detalhes" text,
    "CriadoEm" timestamp with time zone NOT NULL
);


ALTER TABLE public."AdminLogs" OWNER TO postgres;

--
-- Name: Catalogo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Catalogo" (
    "Id" uuid NOT NULL,
    "Titulo" text NOT NULL,
    "TotalCapitulos" integer,
    "LancadoNoBrasil" boolean NOT NULL,
    "Editora" text,
    "EditoraKey" text,
    "CapaUrl" text,
    "Descricao" text,
    "Demografia" text,
    "Autor" text,
    "AnoLancamentoOriginal" integer,
    "AnoLancamentoBrasil" integer,
    "CriadoEm" timestamp with time zone NOT NULL
);


ALTER TABLE public."Catalogo" OWNER TO postgres;

--
-- Name: Leituras; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Leituras" (
    "UsuarioId" uuid NOT NULL,
    "MangaId" uuid NOT NULL,
    "Status" integer NOT NULL,
    "CapituloAtual" integer NOT NULL,
    "UltimaLeituraEm" timestamp with time zone,
    "AdicionadoEm" timestamp with time zone NOT NULL
);


ALTER TABLE public."Leituras" OWNER TO postgres;

--
-- Name: Usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Usuarios" (
    "Id" uuid NOT NULL,
    "Nome" text NOT NULL,
    "Email" text NOT NULL,
    "Senha" text NOT NULL,
    "CriadoEm" timestamp with time zone NOT NULL,
    "EhAdmin" boolean NOT NULL
);


ALTER TABLE public."Usuarios" OWNER TO postgres;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO postgres;

--
-- Data for Name: AdminLogs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."AdminLogs" ("Id", "AdminId", "Acao", "Detalhes", "CriadoEm") FROM stdin;
153e521e-fa3e-44c2-a710-cbe20a0b3060	e137330a-e9e9-478b-954c-239f5bc17e98	CATALOGO_CRIAR	Criou: Dragon Ball | BR=True | Editora=Panini	2026-02-27 11:00:42.958217+00
02842aa8-4565-4aa8-ba11-b024c8e705ea	e137330a-e9e9-478b-954c-239f5bc17e98	CATALOGO_CRIAR	Criou: Fullmetal Alchemist | BR=True | Editora=JBC	2026-02-27 17:05:20.328637+00
\.


--
-- Data for Name: Catalogo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Catalogo" ("Id", "Titulo", "TotalCapitulos", "LancadoNoBrasil", "Editora", "EditoraKey", "CapaUrl", "Descricao", "Demografia", "Autor", "AnoLancamentoOriginal", "AnoLancamentoBrasil", "CriadoEm") FROM stdin;
fb32c0cd-4b3b-44eb-a127-dc4e838ec8d2	Dragon Ball	\N	t	Panini	panini	\N	\N	\N	\N	\N	\N	2026-02-27 11:00:42.911725+00
713eafc9-0328-4d51-96eb-d81e9a344e2f	Fullmetal Alchemist	\N	t	JBC	jbc	\N	\N	\N	\N	\N	\N	2026-02-27 17:05:20.288951+00
\.


--
-- Data for Name: Leituras; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Leituras" ("UsuarioId", "MangaId", "Status", "CapituloAtual", "UltimaLeituraEm", "AdicionadoEm") FROM stdin;
\.


--
-- Data for Name: Usuarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Usuarios" ("Id", "Nome", "Email", "Senha", "CriadoEm", "EhAdmin") FROM stdin;
e137330a-e9e9-478b-954c-239f5bc17e98	admin	admin@mangatracker.com	admin	2026-02-26 19:33:23.449989+00	t
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20260226191843_InitialCreate	8.0.0
\.


--
-- Name: AdminLogs PK_AdminLogs; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AdminLogs"
    ADD CONSTRAINT "PK_AdminLogs" PRIMARY KEY ("Id");


--
-- Name: Catalogo PK_Catalogo; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Catalogo"
    ADD CONSTRAINT "PK_Catalogo" PRIMARY KEY ("Id");


--
-- Name: Leituras PK_Leituras; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Leituras"
    ADD CONSTRAINT "PK_Leituras" PRIMARY KEY ("UsuarioId", "MangaId");


--
-- Name: Usuarios PK_Usuarios; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Usuarios"
    ADD CONSTRAINT "PK_Usuarios" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- PostgreSQL database dump complete
--

\unrestrict ecyvPemNJcFkpxnqBcbSMPCBelq2PxrE0x7AjVhM2ccW5urH976QJ9GiQi6A7ML

